@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Poppins', sans-serif;
}

@layer base {
    :root {
        /* Base Colors */
        --background: 0 0% 100%;
        --foreground: 0 0% 0%;

        /* Primary and Secondary */
        --primary: 39 85% 55%;
        --primary-foreground: 0 0% 100%;
        --secondary: 37 93% 80%;
        --secondary-foreground: 0 0% 0%;

        /* Backgrounds */
        --card: 0 0% 98%;
        --card-foreground: 0 0% 0%;
        --popover: 0 0% 98%;
        --popover-foreground: 0 0% 0%;

        /* Muted and Accent */
        --muted: 0 0% 96%;
        --muted-foreground: 38 80% 25%;
        --accent: 37 93% 80%;
        --accent-foreground: 0 0% 0%;

        /* Destructive and Alerts */
        --destructive: 0 84% 60%;
        --destructive-foreground: 0 0% 100%;
        --success: 120 39% 85%;
        --success-foreground: 120 26% 30%;
        --failure: 0 85% 89%;
        --failure-foreground: 0 59% 40%;
        --warning: 54 100% 88%;
        --warning-foreground: 48 39% 29%;
        --info: 200 75% 88%;
        --info-foreground: 200 39% 29%;
        --result: 120 39% 85%;
        --result-foreground: 120 26% 30%;
        --action: 270 39% 90%;
        --action-foreground: 270 29% 30%;
        --tertiary: 0 0% 90%;
        --tertiary-foreground: 0 0% 25%;
        --status: 0 0% 93%;
        --status-foreground: 0 0% 30%;

        /* Borders and Inputs */
        --border: 0 0% 85%;
        --input: 0 0% 100%;
        --ring: 38 90% 55%;

        /* Sidebar */
        --sidebar-background: 0 0% 98%;
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;

        /* Chart Colors */
        --chart-1: 39 86% 95%;
        --chart-2: 36 91% 89%;
        --chart-3: 37 93% 80%;
        --chart-4: 38 92% 71%;
        --chart-5: 37 80% 24%;

        --radius: 1.5rem; /* Standard border radius */
    }

    .dark {
        --background: 240 6% 3%;
        --foreground: 240 5% 92%;
        --muted: 240 6% 16%;
        --muted-foreground: 240 5% 64%;
        --popover: 240 6% 1%;
        --popover-foreground: 240 5% 92%;
        --accent: 35 70% 90%;
        --card: 240 6% 6%;
        --card-foreground: 240 5% 92%;
        --border: 240 6% 22%;
        --input: 240 6% 22%;
        --primary: 39 85% 55%;
        --primary-foreground: 240 5% 10%;
        --secondary: 38 5% 10%;
        --secondary-foreground: 240 5% 92%;
        --destructive: 11 83% 49%;
        --destructive-foreground: 240 5% 92%;
        --ring: 38 90% 55%;
        --chart-1: 38 90% 55%;
        --chart-2: 38 90% 45%;
        --chart-3: 38 90% 35%;
        --chart-4: 38 80% 25%;
        --chart-5: 38 60% 15%;
        --sidebar-background: 240 5.9% 10%;
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary: 39 85% 60%;
        --sidebar-primary-foreground: 0 0% 15%;
        --sidebar-accent: 240 3.7% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 240 3.7% 20.9%;
        --sidebar-ring: 217.2 91.2% 59.8%;
        --radius: 1.5rem; /* Standard border radius */
    }

    /* Dark Theme Custom Elements */
    .dark .sbdocs-wrapper,
    .dark .css-11ju8y0,
    .dark .css-1f9domv,
    .dark .css-p1dfi6,
    .dark .sbdocs-preview {
        background-color: hsl(var(--background));
        color: hsl(var(--foreground));
    }

    .dark .sbdocs .sbdocs-content .css-qa4clq {
        color: hsl(var(--foreground));
    }

    .dark .sbdocs-preview {
        border: 1px solid hsl(var(--border));
    }

    .dark .docblock-code-toggle {
        background: transparent;
        color: hsl(var(--foreground));
    }

    .dark .css-qa4clq *:not(button, ol) {
        background: hsl(var(--background));
        color: hsl(var(--foreground));
    }

    .dark div:has(.docblock-code-toggle) {
        background: transparent;
    }

    .dark .os-theme-dark {
        background: hsl(var(--background));
        color: hsl(var(--foreground));
    }

    .dark .sbdocs-title {
        color: hsl(var(--foreground));
    }

    .dark .docblock-argstable-head {
        background: hsl(var(--background));
    }

    .dark .docblock-argstable-head th {
        color: hsl(var(--foreground));
        border-bottom: 1px solid hsl(var(--border)) !important;
    }

    .dark .docblock-argstable-head th span {
        color: hsl(var(--foreground));
    }

    .dark #docs-root tbody td {
        background: hsl(var(--background)) !important;
        color: hsl(var(--foreground)) !important;
    }

    .dark #docs-root tbody tr:first-child td:first-child {
        border-top-left-radius: 0 !important;
    }

    .dark #docs-root tbody tr:first-child td:last-child {
        border-top-right-radius: 0 !important;
    }

    .dark #docs-root tbody tr:not(:first-child) {
        border-top: 1px solid hsl(var(--border)) !important;
    }

    .dark .css-v2ifgj.css-v2ifgj tbody > tr > * {
        color: hsl(var(--foreground));
        background-color: hsl(var(--background));
        border-color: hsl(var(--border));
    }

    .dark #control-variant {
        background-color: hsl(var(--input));
        color: hsl(var(--foreground));
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
